<h1>Comments</h1>
<% @comments.each do |comment| %>
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text"><%= comment.content %></p>
      <p class="card-text">
        <strong>User:</strong> <%= link_to comment.user.username, user_path(comment.user) %> | 
        <strong>Post:</strong> <%= link_to "Post", post_path(comment.post) %>
      </p>
    </div>
  </div>
<% end %>
